*{
    margin:0;
    padding: 0;
} 

.span-2-rows{
    grid-row: span 2;
}

.display-grid{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1.5em;
}

.border-control{
    border: 2px solid rgb(63, 63, 63);
    border-radius: 27px;
}

.start-column-1{
    grid-column-start: 1;
}

.start-column2{
    grid-column-start: 2;
}

.start-row-1{
    grid-row-start: 1;
}

.start-row-2{
    grid-row-start: 2;
}