*{
    margin:0;
    padding: 0;
    background-color: rgb(244, 245, 226);
    color: #404040;
} 


.display-grid{
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 5.5rem;
}

h1{
    font-size: 66px;
}
.idea-image{
    border-radius: 27px;
    margin-left: 10%;
    margin-top: 3%;

}
.span-two{
    grid-row:span 2;
}


.blend-image{
mix-blend-mode: darken;
margin-bottom: -30px;
}

.text-section{
    border: 1px solid  black;
    border-radius: 27px;
    grid-row-start:2 ;
    grid-column-start:2 ;
    background-color: white;
    align-self: center;
}
.text{
    background-color: white;
    padding: 30px;
    margin: auto;
}